<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %>></title>
</head>
<body>
    <div class='brands'>
        <% brands.forEach((brand) => { %>
            <div id="<%= brand.id %>">
                <%= brand.name %>
            </div>
            <% }) %>
    </div>
        
    <a href="/brands/new/">Add New Brand</a>
    
</body>
</html>