<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h2>Inventory</h2>
    <div class="menu">
        <a href="/categories">Categories</a>
        <a href="/brands">Brands</a>
        <a href="/items">Items</a>
    </div>
    
</body>
</html>