<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<body>
    <div class="container">
        <h2>Inventory</h2>
        <div class="menu">
            <a href="/categories">Categories</a>
            <a href="/brands">Brands</a>
            <a href="/items">Items</a>
        </div>
        
    </div>
</body>
</html>